* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;
    
}

@font-face {
    font-family: font1;
    src: url(../font/Oi-Regular.ttf);
}

@font-face {
    font-family: font2;
    src: url(../font/Chewy-Regular.ttf);
}

@font-face {
    font-family: font3;
    src: url(../font/KakekakeitalicpersonaluseNmi-Rpz16.otf);
}

@font-face {
    font-family: font4;
    src: url(../font/Demo_Fonts/Fontspring-DEMO-artis-sans-extralight.otf);
}

@font-face {
    font-family: font5;
    src: url(../font/Amatic_SC/AmaticSC-Bold.ttf)
}


body {
    height: 1400vh;
    background-color: transparent;

}

header {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    color: #f5f9fa;
}

nav ul li a {
    text-decoration: none;
}

.navbar {
    position: fixed;
    min-height: 60px;
    min-width: 70%;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 0px 20px;
    background-color:transparent;
    z-index: 999;
}

.navbar::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: #00a7e7;
    opacity: .8;
    z-index: 1;
}

.nav-menu {
    display: flex;
    align-items: baseline;
    gap: 5em;
    z-index: 999;
}

.nav-item {
    transition: .2s ease;
    cursor: pointer;
    font-family: font5;
    font-size: 2em;
}

.nav-item:hover {
    transition: .2s ease-in-out;
    color: rgba(0,79,159,255);
    transform: scale(1.2);
}

.menu {
    position: fixed;
    display: none;
    z-index: 999;
}

.menu:hover {
    cursor: pointer;
}

.menu-bar {
    display: block;
    width: 2em;
    height: 4px;
    margin: 4px auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: rgba(0,79,159,255);
    border-radius: 15%;
    z-index: 1;
}

@media(max-width:830px) {
    .menu {
        display: block; 
        
    }

    .navbar {
        min-width: 100%;
        justify-content: end;
        background-color: transparent;
        z-index: 999;
    }

    .navbar::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        background-color: transparent;
        opacity: .8;
        z-index: 0;
    }

    .menu.active .menu-bar:nth-child(2) {
        opacity: 0;
    }

    .menu.active .menu-bar:nth-child(1) {
        transform: translateY(8px) rotate(320deg);
        background-color: white;

    }

    .menu.active .menu-bar:nth-child(3) {
        transform: translateY(-8px) rotate(-320deg);
        background-color: white;

    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 0px;
        gap:0;
        flex-direction: column;
        background-color:#00a7e7;
        width: 100%;
        transition: .3s;
        padding: 10px;
        
    }

    .nav-item {
        border-bottom: 1px dotted rgba(0,79,159,255);
        width: 80%;
    }

    .nav-item:nth-child(5) {
        border: none;
    }

    .nav-item:hover {
        transform: scale(1);
    }

    .nav-menu.active {
        left: 0;
    }

}

.parallax {
    background-image: url(../img/dog5.jpg);
    min-height: 550px;
    max-width: 100%;
    background-attachment: fixed;
    background-position: 52% -5px !important;
    background-repeat: no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    z-index: 0;
}

.grid-container {
    padding:5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(250px, auto);
    grid-gap: 1em;
}

.grid-item {
    color: rgba(0,79,159,255);
}

.grid-item-0 {
    grid-column: 1/3;
    grid-row: 1/3;
    width: 100%;
}

.grid-item-1 {
    display: flex;
    grid-column: 1/3;
    grid-row: 3/3;
    justify-content: center;
    align-items: center;
    font-family: font5;
    font-size: 4.4em;
    font-weight: 500;
    letter-spacing: .1em;
    color:#00a7e7;
}

.grid-item-2 {
    grid-column: 1/3;
    grid-row: 4/4;
    display: flex;
    justify-content: center;
    align-items:center; 
}

.grid-item-3 {
    grid-column: 1/3;
    grid-row: 5/5;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.grid-item-4 {
    grid-column: 1/3;
    grid-row: 6/6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item-5 {
    grid-column: 1/3;
    grid-row: 7/7; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.some-text {
    max-width: 70%;
    text-align: center;
    font-size: 1.2em;
}

.pic {
    max-width: 105px;
    min-height: 150px;
    padding: 10px;
}

.img-wrap {
    display: flex;
    width: 75%;
    justify-content:space-around;
}


.wrap .caption {
    display: block;
    padding: 10px;
}

.caption {
    font-size: 1.5em;
    color: rgba(0,79,159,255);
    font-weight: 600;
    font-family:font5;
    z-index: 1;
    
}

.dogs-container {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content:space-between;
    align-items: end;
    border-bottom: 1px solid rgba(0,79,159,255);
}

.dogs-header {
    font-family: font5;
    font-size: 4rem;
}

.dogs-head-img {
    min-width: 200px;
    max-width: 40%;
    min-height: 120px;
    
}

hr {
    position: absolute;
    width: 100%;               
    background-color:#030303;
    height: 1px;
}

.second-grid-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 1em;
    justify-content: center;
    margin: 0 auto;
    padding-top: 100px;
}

.dog-item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.dog-wrap {
    height: 200px;
    z-index: 0;
    
}

.dog-wrap:hover .wrap-title {
    height: 100px;
    bottom: 104px;
    background-color: 00a7e7;
}

.dog-wrap:hover .dog-text {
    opacity: 1;
    visibility: visible;
    color: white;
    font-weight: 600;
}

.dog-img {
    width: 250px;
    height: 250px;
    box-shadow: 0px 0px 20px #333;
    border-radius: 5% 5% 5% 5%;
}

.wrap-title {
    height: 50px;
    width: 250px;
    padding: 2px;
    position: relative;
    background: #0298d3;
    bottom: 54px;
    z-index: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.dog-title {
    color: white;
    font-weight: 700;
    font-size: 1.5em;
    text-align: left;
    margin: 10px;
    font-family: font5;
    letter-spacing: .5em;
}

.dog-info {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.dog-text {
    color: #eff2f3;
    font-family: sans-serif;
    margin: 10px;
    font-size: .8em;
}

.checkmark {
    font-weight: 500;
    font-family: arial;
    -ms-transform: scaleX(-1) rotate(-35deg);
    -webkit-transform: scaleX(-1) rotate(-35deg);
    transform: scaleX(-1) rotate(-35deg);
    color: rgba(0,79,159,255);
  }


.show {
    display: block;
}

.parallax-container {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-1 {
    min-height: 600px;
    width: 100%;
    background-image: url(../img/dog11.jpg);
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: 55%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    z-index: 0;
    
}

.parallax-1-text {
    position: absolute;
    font-size: 5rem;
    font-family: font2;
    max-width: 100%;
    text-align: center;
    color: rgb(252, 252, 252);
    z-index: 1;
    margin: 0 auto;
    text-shadow: 10px 10px 10px black;
}

.donation-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.donation-wrap {
    width: 70%;
}

.donation-title {
    text-align: center;
    font-family: font4;
    font-size: 3em;
    color:#004f9f;
}

.donation-text {
    text-align: center;
    padding: 50px 0px 50px 0px;
    color: rgba(0,79,159,255);
    background-color: white;
}

.donate-btn-container {
   min-height: 15vh;
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.donate-btn {
    text-align: center;
    background-color: #00a7e7;
    max-width: 14rem;
    padding: 5px 10px 5px 10px;
    font-family: font4;
    font-size: 1.6rem;
    text-decoration: 0;
    color: white;
    border-radius: 4%;
    transition: .4s ease-in-out;
    font-weight: 700;
    
} 

.donate-btn:active {
    box-shadow: none;
    transform: translateY(5px);
}

.donate-btn:hover {
    color: #004f9f;
    box-shadow: 3px 3px 1px #004f9f;
}

.account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    padding: 10px;
}

.account-wrap {
    max-width: 50%;
    background-color: transparent;
    padding: 50px;
    position: absolute;
    z-index: 2;
}

.account-wrap::after {
    content: "";
    display: block;
    background-color: #004f9f;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .6;
    z-index: 0;
}

.account-title {
    position: relative;
    color: white;
    padding: 5px 0px 5px 0px;
    font-family: font5;
    font-size: 1.3rem;
    text-shadow: 1px 1px 1px #0a0909, 0px 0px 3px #101111;
    z-index: 2;
}

.account-text {
    position: relative;
    font-size: .9em;
    color: white;
    text-shadow: 1px 1px 1px #0a0909, 0px 0px 3px #101111;
    z-index: 2;
}

.account-name {
    position: relative;
    font-size: .9em;
    color: white;
    padding: 0px 0px 5px 0px;
    text-shadow: 1px 1px 0px #0a0909, 0px 0px 3px #101111;
    z-index: 2;
}

@media(max-width:680px) {
    .account-wrap {
        min-width:70%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        
    }
}

@media(min-width:520px) {
    .account-wrap {
        min-width:30%;
        
    }
}

.parallax-2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78%;
}

.parallax-2 {
    width: 100%;
    background-image: url(../img/dog11.jpg);
    background-attachment: fixed;
    background-position: 58%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    z-index: 0;
    opacity: 1;
}

.akeem-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top:50%;
}

.akeem {
    font-family: font4;
    font-size: 2.5em;
    text-shadow: 1px 1px 1px white;
}

















